<head>
	<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" >
</head>
<body>
	<h1 style="margin-top:1.2%; margin-bottom:3px">Brian Hernandez</h1>
	<h4 style="margin-top:0px; margin-left:2px">bhernandev</h4>
	<div id="menu">
		<p id="about"><a href="/">About</a></p>
		<p id="games"><a href="/">Games</a></p>
		<p id="projects"><a href="/">Projects</a></p>
		<p id="contact"><a href="/">Contact</a></p>
	</div>
</body>
